@page "/browse"
@inject HttpClient Http
@inject NavigationManager navigationManager

<PageTitle>ProjectBank - Browse</PageTitle>

<div class="browse_all">
    <button class="browse_all_btn" @onclick="(() => redirectToSwipeAllPage())"> Browse all </button><p1 id="Browse_all_text" >or look for a specific keyword to browse:</p1>
</div>

<div class="filter_browse">
    <button class="mobile_filter_btn" @onclick="dropdown">Filter</button>
    <div class="desktop_filter_btn">
    @if (!_isDropedDown)
    {
        <button @onclick="dropdown" style="background: none; border: none;">
            <img src="filter.png" alt="" style="height: 20px"/>
        </button>
    }
    @if (_isDropedDown)
    {
        <button @onclick="dropdown" style="background: #ffffff; border: none; border-top-left-radius: 10px; border-top-right-radius: 10px">
            <img src="filterBlack.png" alt="" style="height: 20px"/>
        </button>
    }
    </div>
</div>
@if (_isDropedDown)
{
    <div class="align-right">
        <div class="dropdown_menu_filter_browse">
            <div class="drop_filter_content_browse">
                <EditForm EditContext="this.editContext">
                    <p1 style="text-decoration: underline; font-weight: bold;">
                        @model.Value:
                    </p1>
                   
                        <InputRadioGroup @bind-Value="model.Selected">
                            @foreach (var option in model.Options)
                                {
                                <div class="btn_filter">
                                    <InputRadio  Value="option.Value" id="@option.Value" style="outline: none; border: none; margin-left: 2px;"/> 
                                        <label for="@option.Value" style="cursor: pointer">@option.Value</label>
                                </div>
                                }
                        </InputRadioGroup>
                    
                </EditForm>
            </div>
        </div>
    </div>
}

@if (keywords == null)
    {
        <div id="app">
            <div class="centered">
                <div class="lds-roller"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div></div>
        </div>
    }else{
        <div class="grid-container">
            @foreach (var keyword in keywords)
            {
                <button class="grid-item" @onclick="(() => redirectToSwipePage(keyword.Word))">@keyword.Word</button>
            }

        </div>
    }
<br>

@code{
    private KeywordDto[]? keywords;

    private EditContext editContext;
    private DegreeModel model;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            keywords = await Http.GetFromJsonAsync<KeywordDto[]?>("/api/Keyword");
            model = new DegreeModel() { Value = "Degrees" };
            editContext = new EditContext(model);
        }
        catch(AccessTokenNotAvailableException exception)
        {
            exception.Redirect();
        }
    }
    
    private void redirectToSwipePage(string keyword)
    {
        navigationManager.NavigateTo("swipe/"+keyword);
    }
    private void redirectToSwipeAllPage()
    {
        navigationManager.NavigateTo("swipe/all");
    }


    private bool _isDropedDown;

    private void dropdown()
    {
        if (_isDropedDown)
        {
            _isDropedDown = false;
        }
        else
        {
            _isDropedDown = true;
        }
    }
}
