@page "/search"
@using System.Data.SqlTypes
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject HttpClient Http

<PageTitle>ProjectBank - Search</PageTitle>

<div class="searchBar_wrapper">
    <input @bind="SearchText" type="text" class="searchBar" runat="server" name="Search_input" placeholder="Search... Project Title, Supervisor, or #Keyword">
    <button class="btn_search" @onclick="LoadProjects"> <span class="oi oi-magnifying-glass" style="color: #212121;" aria-hidden="true"></span></button>
</div>

@if (_projects == null)
{
    
}
else{
    @foreach (var project in _projects)
    {
     <br/>
       <div class="project_center">
          <div class="project_builder_search" id="P_@project.Id">
              <div class="project_search_content">
                  <div class="like_star">
                      <input type="checkbox" class="star_checkbox" id="star_checkbox_@project.Id" unchecked="true" @onchange="() => AddOrRemoveFavorite(project.Title)"/>
                      <label class="oi oi-star" id="star_@project.Id" for="star_checkbox_@project.Id"></label> 
                  </div>
                  <div id="project_search_title">Title: @project.Title </div>
                  <div id="search_supervisor">by: <x onclick="">@project.AuthorName</x></div>
                  <br>
                  <hr>
                  <br>
                  <textarea class="project_search_description" readonly="readonly">@project.Description</textarea>
                  
                  <label class="see_more" id="see_more_@project.Id" onclick="
                        document.getElementById('see_more_@project.Id').style.display='none';
                        document.getElementById('expand_@project.Id').style.display='block';
                    " for="P_@project.Id">See more</label>
                  
                  <div class="expanded_content" id="expand_@project.Id" for="P_@project.Id" style="display: none">
                      <br>
                      <hr>
                      <br>
                      <textarea class="project_search_keywords" readonly="readonly">@string.Join(", ",project.Keywords)</textarea> 
                      <br>
                      <hr>
                      <br>
                      <label class="project_search_Ects" readonly="readonly">Ects: @project.Ects </label> 
                      <br>
                      <label class="project_search_degree" readonly="readonly">Degree: @project.Degree </label>
                      <br>
                      <label class="close_more" id="close_more_@project.Id" onclick="
                        document.getElementById('expand_@project.Id').style.display='none';
                        document.getElementById('see_more_@project.Id').style.display='block';
                        
                      ">Close</label>
                  </div>
              </div>
          </div>
       </div>  
    }
}


@code {
    private bool _isHidden = true;

    private void SwitchVisibilityState()
    {
        if (_isHidden == true)
        {
            _isHidden = false;
        }
        else
        {
            _isHidden = true;
        }

    }

    public string SearchText = "";

    ProjectDetailsDto[]? _projects;

    async void LoadProjects()
    {
        try
        {
            _projects = await Http.GetFromJsonAsync<ProjectDetailsDto[]?>($"/api/SearchQuery/{SearchText}");
        }
        catch (AccessTokenNotAvailableException exception)
        {
            exception.Redirect();
        }
        await InvokeAsync(StateHasChanged);
    }

    
   
    
    private void AddOrRemoveFavorite(string title) //virker ikke
    {
        var alreadyliked = false;
        
        if (alreadyliked)
        {
            // fjern fra liked liste
        }
        if (!alreadyliked)
        {
            // skal add til fav_liste
        }
        
    }
    
}
