@page "/swipe/{keyword}/{degreeInt:int}"
@inject HttpClient Http
@using System.Security.Claims
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject ProjectStateChanged projectChanged
@inject NotificationService notificationService
@inject NavigationManager _navigationManager


<RadzenNotification/>


<button id="GoBack_btn" onclick="location.href='/browse'">
    <label class="oi oi-arrow-circle-left"></label>
</button>
<button id="info_btn" 
        onclick="window.alert('Swipe Use-guide: \r\n \r\n ' +
         'To Like a project; you must click the star. \r\n \r\n ' +
          'To skip a project; you must click the`X` \r\n \r\n' +
          'To regret/undo your last decision; you can click the button in the middle, displayed with a circled arrow. Further, the rewatch button lets you scroll back through already seen projects.')">i
</button>
<div class="landscape_view_mobile">
    <span class="oi oi-loop-square"></span><br>
    <p1> Please turn your phone vertical</p1>
</div>

@if (!_seenProjectIds.Any())
{
    <h1>no project to show on keyword: @Keyword</h1>
}
else
{
    <div class="outer_box">
        <div class="project_builder" id="p_@_indexCounter" style="z-index: @_i;">
            <div class="project_content">
                <div id="project_title">Title: <x onclick="@(() => _navigationManager.NavigateTo($"/projects/{_currentProject.Id}"))" style="cursor: pointer;">@_currentProject.Title</x></div>
                <div id="supervisor">by: <x onclick="@(() => _navigationManager.NavigateTo($"/user/{_currentProject.AuthorName}"))" style="cursor: pointer;"> @_currentProject.AuthorName</x></div>
                <br/>
                <hr/>
                <br/>
                <textarea class="project_description" readonly="readonly">@_currentProject.Description</textarea>
                @*<img class="card-img-top" src=@_currentProject.ImageUrl alt = "Project image">*@
                <br/>
                <hr/>
                <br/>
                <textarea class="project_keywords" readonly="readonly">Keywords: @_keywordString
Degree: @_currentProject.Degree</textarea>
            </div>
        </div>
    </div>
    
        <div class="like_and_dislike_btn_div">
            <button id="dislike_btn" @onclick="(() => CheckClick(ClickType.Dislike))">
                <label id="x_icon" class="oi oi-x"></label>
            </button>
            <button id="re-watch_btn" @onclick="(() => CheckClick(ClickType.Rewatch))">
                <label id="re-watch_icon" class="oi oi-action-undo"></label>
            </button>
            <button id="like_btn" @onclick="(() => CheckClick(ClickType.Like))">
                <label id="star_icon" class="oi oi-star"></label>
            </button>
        </div> 
}

@code
{
    [Parameter]
    public string? Keyword { get; set; }

    [Parameter]
    public int? degreeInt { get; set; } = 3;
    public Degree Degree { get; set; } = Degree.Unspecified;
    private readonly IKeywordFinder _keywordFinder = new KeywordFinder();
    private const int _i = 10;
    private int _indexCounter;
    private List<int>? _likedProjectIds; //This is only used to mimic the database collection of saved projects, st. we dont have to do unnecessary API calls. 
    private Stack<int> _seenProjectIds = new Stack<int>();
    private ProjectDetailsDto? _currentProject;
    private ClickType _lastClick;
    private ClaimsPrincipal? _user;
    private string? _aToken;
    private string _keywordString;
    enum Notification
    {
        Success,
        Error,
        Info
    }
    
    protected override async Task OnInitializedAsync()
    {
        try
        {   
            Degree = (Degree) degreeInt;
            
            if (Keyword == "all"){
                await _keywordFinder.Setup(Http, Degree);
                
                var nextKeyword = _keywordFinder.FindWeightedRandomKeyword();
                _currentProject = await _keywordFinder.ReadProjectGivenKeywordAsync(nextKeyword);
            } else
            {                
                _currentProject = await Http.GetFromJsonAsync<ProjectDetailsDto>($"/api/Keyword/typeOption/{Keyword}/{_indexCounter}/{Degree}");
            }

            if (_currentProject != null) _seenProjectIds.Push(_currentProject.Id);
            _indexCounter++;

            _user = (await AuthenticationStateProvider.GetAuthenticationStateAsync()).User;
            _aToken = _user.FindFirst(c => c.Type.Contains("aud"))?.Value;
            _likedProjectIds = await Http.GetFromJsonAsync<List<int>>($"/api/Account/likedProduct/{_aToken}"); //will return an empty list, if no saved projects were found for that user.

            _keywordString = GetKeyWords();

            //Only works if lastClick is rewatch
            _lastClick = ClickType.Rewatch;
        
        } catch (AccessTokenNotAvailableException e)
        {
            e.Redirect();
        } catch (System.Text.Json.JsonException)
        {

        }
    }

    private enum ClickType
    {
        Like,
        Dislike,
        Rewatch
    }

    private async void CheckClick(ClickType s)
    {
        switch (s)
        {
            case ClickType.Like:
            
                if (_likedProjectIds != null && !_likedProjectIds.Contains(_currentProject.Id))
                {
                    await AddLikedProject();
                    if (Keyword == "all") 
                    {
                        await UpdateRatios(true);
                    }
                } else
                {
                    ShowNotification("You had already liked project: " + _currentProject.Title, Notification.Info); 
                }

                _lastClick = ClickType.Like;
                
                if (Keyword == "all")
                {
                    await FindNextProjectAll();
                } else
                {
                    await FindNextProject();
                }
                
                break;

            case ClickType.Rewatch:
            
                if (_seenProjectIds.Count() > 1)
                {
                    var index = _seenProjectIds.Peek();
                    if (_currentProject.Id == index){
                        _seenProjectIds.Pop();
                    }
                    if (_seenProjectIds.Count > 2)
                    {
                        _currentProject = await Http.GetFromJsonAsync<ProjectDetailsDto>($"/api/Project/{_seenProjectIds.Pop()}");
                    }
                    else
                    {
                        _currentProject = await Http.GetFromJsonAsync<ProjectDetailsDto>($"/api/Project/{_seenProjectIds.Peek()}");
                    }
                } else
                {
                    _currentProject = await Http.GetFromJsonAsync<ProjectDetailsDto>($"/api/Project/{_seenProjectIds.Peek()}");
                    ShowNotification("You can't reverse any more", Notification.Error);
                }

                if (_lastClick == ClickType.Like && _likedProjectIds.Contains(_currentProject.Id))
                {
                    await RemoveLikedProject();
                }
                
                _lastClick = ClickType.Rewatch;

                break;
            
            case ClickType.Dislike:
            
                if (_likedProjectIds.Contains(_currentProject.Id))
                {
                    await RemoveLikedProject();
                }

                _lastClick = ClickType.Dislike;

                if (Keyword == "all")
                {
                    await FindNextProjectAll();
                } else
                {
                    await FindNextProject();
                }
                
                break;
        }
        _keywordString = GetKeyWords();

        await InvokeAsync(StateHasChanged);
    }

    private async Task FindNextProjectAll()
    {
        var nextKeyword = _keywordFinder.FindWeightedRandomKeyword();
        var project = await _keywordFinder.ReadProjectGivenKeywordAsync(nextKeyword);
        
        if (project != null){
            _currentProject = project;
        }
        _seenProjectIds.Push(_currentProject.Id);
    }

    private async Task FindNextProject()
    {
        try 
        {
            _currentProject = await Http.GetFromJsonAsync<ProjectDetailsDto>($"/api/Keyword/typeOption/{Keyword}/{_indexCounter}/{Degree}");
            _seenProjectIds.Push(_currentProject.Id);
            _indexCounter++;
        } catch (System.Text.Json.JsonException) 
        {
            ShowNotification("No more projects to show. Rewatch to see projects again, or pick a new keyword", Notification.Error);
        }
    }

    private Task UpdateRatios(bool userLikedProject)
    {
        foreach (var keyWordName in _currentProject.Keywords)
        {
            var response = _keywordFinder.UpdateRatioAsync(keyWordName, userLikedProject);
        }
        return Task.CompletedTask;
    }
    
    private string GetKeyWords()
    {
        return string.Join(", ", _currentProject.Keywords);
    }
    
    private void ShowNotification(string message, Notification type)
    {
        var notiMsg = new NotificationMessage();

        switch (type)
        {
            case Notification.Success:
                notiMsg = new NotificationMessage {Severity = NotificationSeverity.Success, Summary = "Success", Detail = message, Duration = 2000};
                break;
            
            case Notification.Error:
                notiMsg = new NotificationMessage {Severity = NotificationSeverity.Error, Summary = "Error", Detail = message, Duration = 4000};
                break;

            case Notification.Info:
                notiMsg = new NotificationMessage {Severity = NotificationSeverity.Info, Summary = "Info", Detail = message, Duration = 4000};
                break;
        }
        notificationService.Notify(notiMsg);
    }
    
    //----- private helper methods -----

    private async Task RemoveLikedProject()
    {
        await Http.PutAsJsonAsync($"api/Account/{_aToken}/remove", _currentProject.Title);
        _likedProjectIds.Remove(_currentProject.Id);
        projectChanged.RemoveSavedProjects(_currentProject.Title);
        
        ShowNotification("Project removed: " + _currentProject.Title, Notification.Success);
    }
    
    private async Task AddLikedProject()
    {
        await Http.PostAsJsonAsync($"api/Account/{_aToken}", _currentProject.Title);
        _likedProjectIds.Add(_currentProject.Id);
        projectChanged.AddSavedProjects(_currentProject.Title);
                    
        ShowNotification("Project added: "+_currentProject.Title, Notification.Success);
    }

}   